{% extends 'template.html' %}
{% block template %}
<h1 style="text-align: center;">Enjoy our product</h1>
<div class="articles">
    <div class="aboutus">
        <img src="../static/me.jpg">
        <h4>ნიკოლოზ web მდინარაძე</h4>
        <p>Full-Stuck Developer</p>
    </div>
    <div class="aboutus">
        <img src="../static/tso.jpg">
        <h4>ცოტნე ახვლედიანი</h4>
        <p>Designer, დევნილი</p>
    </div>
    <div class="aboutus">
        <img src="{{meme_pic}}">
        <h4>Random Meme :D</h4>
    </div>
</div>
{%endblock%}